BGP_REPORT_DB_NAME=bgpmon
BGP_REPORT_DB_USER=bgpmon
BGP_REPORT_DB_PASSWORD=bgpmon
BGP_REPORT_DB_HOST=127.0.0.1
BGP_REPORT_DB_PORT=5432
BGP_REPORT_OUTPUT_HTML=/var/www/html/frt-report.html
BGP_REPORT_TITLE=FRT Report
BGP_REPORT_ISP_NAME=Example ISP
BGP_REPORT_PEER_IP=127.0.0.1
BGP_REPORT_COMMUNITY_SELF=65000:10
BGP_REPORT_COMMUNITY_CUSTOMERS=65000:100
BGP_REPORT_BLACKHOLE_REGEX=^65000:\d9\d\d$
BGP_REPORT_MITIGATION_REGEX=^65000:666\d$
BGP_REPORT_AS2ORG_FILE=/opt/bgp-report/data/as2org.txt
BGP_REPORT_I18N_DIR=./i18n
BGP_REPORT_DEFAULT_LANG=en
BGP_REPORT_SUPPORTED_LANGS=en,it
BGP_REPORT_TOP_N_COMMUNITIES=12
BGP_REPORT_TOP_N_HOPS=8
BGP_REPORT_TOP_N_ORIGIN_AS=12
BGP_REPORT_TOP_N_NEXT_HOPS=12
